/* стили корзины*/

/* * {
  margin: 0;
  padding: 0;
} */

.cart_main {
  background-image: url('../src/img/корзина\ 1.png');
  background-size: cover;
  height: 100vh;
  background-position: center;
  filter: brightness(70%);
  border-radius: 7px;
  position: relative;
}

.cart_h {
  padding: 10px;
  margin: 0 auto;
  text-align: center;
}

.cart_content {
  display: flex;
  background-color: rgb(13, 13, 13);
  width: 65%;
  height: 80%;
  position: absolute;
  margin: 15px;
  border-radius: 30px;
  opacity: 0.5;
  z-index: -1;
}

.cart_list,
.cart_order {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: rgb(255, 255, 255);
  width: 45%;
  height: 86%;
  margin: 25px;
  border-radius: 30px;
  justify-content: space-evenly;
}

.line {
  width: 70%;
  border-bottom: 2px black solid;
}
